.PoorVision {
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: relative;

  &:hover {
    color: var(--primary-color);
  }

  &:hover .content {
    display: flex;
    align-items: center;
    justify-content: center;
    @media (max-width: 992px) {
      display: none;
    }
  }

  .content {
    position: absolute;
    left: 50%;
    bottom: -60px;
    transform: translateX(-50%) translateY(-50%);
    background-color: white;
    white-space: nowrap;
    display: none;
    line-height: 22px;
    padding: 0 15px;
    border-radius: 10px;
  }
}