@import "@/shared/styles/mixins.scss";

.carousel {
  width: 95%;
  margin: 100px auto;
  overflow: hidden;
  position: relative;
  @media (max-width: 992px) {
    width: 100%;
    margin: adaptive(100, 30, 992, 375) auto;
  }

  .prev, .next {
    position: absolute;
    top: 50%;
    z-index: var(--carousel-buttons-z-index);
    font-size: 50px;
    background: transparent;
    color: var(--secondary-text-color);


    &:hover {
      color: var(--primary-color);
      @media (max-width: 992px) {
        color: var(--secondary-text-color);

      }
    }
  }

  .prev {
    left: 0;
    transform: rotate(90deg) translateX(-50%);
  }

  .next {
    right: 0;
    transform: rotate(-90deg) translateX(50%);
  }

  .tape {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;

    .wrapper {
      //flex-shrink: 0;
      //max-height: 350px;
      //max-width: 350px;
      flex: 1 0 adaptive(350, 270, 3440, 1200);
      aspect-ratio: 1 / 1;
      height: 100%;
      cursor: pointer;
      position: relative;
      @media (max-width: 992px) {
        flex: 1 0 adaptive(250, 150, 992, 375);
      }


      &:hover {
        @media (max-width: 992px) {
          .hover {

            display: none;
          }
        }

        .hover {
          background: rgba(67, 172, 62, .4) url("/images/slider/hover.png") no-repeat center/50%;

          &:before, &:after {
            opacity: 1;
          }

          &:before {
            height: 50px;
          }

          &:after {
            width: 50px;
          }
        }
      }

      .image {
        //position: relative !important;
        //object-fit: cover;

      }

      .hover {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        pointer-events: none;
        transition: background-color 0.5s;

        &:before {
          content: '';
          position: absolute;
          top: 50%;
          left: 50%;
          background-color: var(--primary-color);
          height: 0;
          width: 10px;
          border-radius: 4px;
          transform: translateX(-50%) translateY(-50%);
          opacity: 0;
          transition: all 0.3s ease-in-out;
        }

        &:after {
          content: '';
          position: absolute;
          top: 50%;
          left: 50%;
          background-color: var(--primary-color);
          height: 10px;
          width: 0;
          border-radius: 4px;
          transform: translateX(-50%) translateY(-50%);
          opacity: 0;
          transition: all 0.3s ease-in-out;
        }
      }
    }

  }

  .popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--primary-overlay-color);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: var(--carousel-popup-z-index);

    .imageWrapper {
      margin: 0 auto;
      flex: 1 1 1000px;
      height: 80vh;
      position: relative;

      .loader {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 0;
        transition: opacity 0.2s;

        &.active {
          opacity: 1;
        }
      }

      .popupImage {
        //position: relative !important;
        object-fit: contain;
        opacity: 0;
        transition: opacity 0.2s;
        transition-delay: 0.2s;

        &.active {
          opacity: 1;
        }
      }
    }

    .prevPopup {
      left: 3%;
    }

    .nextPopup {
      right: 3%;
    }

    .count {
      color: var(--secondary-text-color);
      position: absolute;
      left: 50%;
      bottom: 3%;
      transform: translateX(-50%);
      font-size: 22px;
    }


    .close {
      position: absolute;
      top: 10px;
      right: 10px;
      font-size: 30px;
      width: 40px;
      color: var(--secondary-text-color);
      background: transparent;

      &:hover {
        color: white;
      }
    }
  }
}


