.container {
  margin: 0 auto;
  padding-right: 10px;
  padding-left: 10px;

  transition: width 0.3s, height 0.3s;
  @media(min-width: 576px) {
    //width: 540px;
    padding-right: 20px;
    padding-left: 20px;
  }
  //@media(min-width: 768px) {
  //    width: 720px;
  //}
  @media(min-width: 992px) {
    width: 960px;
    padding-right: 0;
    padding-left: 0;
  }
  @media(min-width: 1200px) {
    width: 1140px;
    padding-right: 0;
    padding-left: 0;
  }
}