@font-face {
  font-family: 'icomoon';
  src: url('icomoon.eot');
  src: url('icomoon.eot') format('embedded-opentype'),
  url('icomoon.ttf') format('truetype'),
  url('icomoon.woff') format('woff'),
  url('icomoon.svg') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-callback2:before {
  content: "\e100";
}

.icon-phone2:before {
  content: "\e101";
  //padding-left: 1px;
}

.icon-clock2:before {
  content: "\e102";
  //padding-bottom: 0.5px;
}

.icon-address2:before {
  content: "\e103";
  //padding-left: 0.5px;
  //padding-bottom: 2px;
}

.icon-phone-header:before {
  content: '\e104';
}
